[Desktop Entry]
Version=1.0
Type=Application
Name=AMQP Messages for Phidgets - InterfaceKit
Comment=See http://jldupont.blogspot.com/
Exec=phidgets-amqp-ifk
Icon=phidgets-amqp-ifk
