[Desktop Entry]
Version=1.0
Type=Application
Name=AMQP Messages for Phidgets Manager
Comment=See http://jldupont.blogspot.com/
Exec=phidgets-amqp-manager
Icon=phidgets-amqp-manager
